<section class="list-container">
  <div class="container-unit">
    <p class="status-unit">Aberto</p>
    <h1 class="city-name">Vicente Linhares</h1>
    <p class="address-unit">Rua Tibúrcio Cavalcante, 1885 - Meireles</p>
    <p class="state-name">Fortaleza, CE</p>
    <div class="hr"></div>
    <div class="images-container">
      <img
        src="../../../assets/images/png/required-mask.png"
        alt="Máscara Obrigatória"
      />
      <img
        src="../../../assets/images/png/required-towel.png"
        alt="Toalha Obrigatória"
      />
      <img
        src="../../../assets/images/png/partial-fountain.png"
        alt="Bebedouro Obrigatória"
      />
      <img
        src="../../../assets/images/png/forbidden-lockerroom.png"
        alt="Vestiário Obrigatória"
      />
    </div>
    <div class="hour-container">
      <div class="day-container">
        <h2 class="week-day">Seg. à Sex.</h2>
        <p class="hour-week">06h às 22h</p>
      </div>
      <div class="day-container">
        <h2 class="saturday">Sáb.</h2>
        <p class="hour-saturday">09h às 18h</p>
      </div>
      <div class="day-container">
        <h2 class="sunday">Dom.</h2>
        <p class="hour-sunday">Fechada</p>
      </div>
    </div>
  </div>
</section>
