<form action="" method="get">
  <div class="container-hour">
    <img src="../../../assets/images/png/icon-hour.png" alt="Horário" />
    <p>Horário</p>
  </div>
  <p class="hour">Qual período quer treinar?</p>
  <div class="hr"></div> 
  <div class="radio-container">
    <input type="radio" name="morning" id="morning-radio" />
    <p>Manhã</p>
    <p>06:00 às 12:00</p>
  </div>
  <div class="hr"></div> 
  <div class="radio-container">
    <input type="radio" name="afternoon" id="afternoon-radio" />
    <p>Tarde</p>
    <p>12:01 às 18:00</p>
  </div>
  <div class="hr"></div> 
  <div class="radio-container">
    <input type="radio" name="night" id="night-radio" />
    <p>Noite</p>
    <p>18:01 às 23:00</p>
  </div>
  <div class="hr"></div> 
  <div class="checkbox-container">
    <input type="checkbox" name="closed-units" id="closed-units" />
    <p>Exibir unidades fechadas</p>
  </div>
  <p class="results">Resultados Encontrados: <span class="gym-results">0</span></p>

  <button class="search-units">ENCONTRAR UNIDADE</button>

  <button class="clear">LIMPAR</button>
</form>
